<script type="text/javascript">
    var url = "{{ fsc.url() }}";
        $(document).ready(function () {

            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }

            const values = getUrlVars();
            $("#code").val(values.code)
            $("#change").attr("action", url + "?code=" + values.code);
        })
</script>

{% set model = fsc.getCurrentView().model %}
{% block body %}

    <form id="change" method="post" name="facturaStatus">
        <input type="hidden" name="action" value="change-status"/>
        <input id="code" type="hidden" name="code"/>
        <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>
        <div class="container-fluid mb-2">
            <div class="row align-content-center">
                <div class="col-6">
                    <div class="form-group">
                        <strong>
                            Estado del pedido
                        </strong>
                        <select name="status" class="form-control">
                            <option value="Preparando" selected="">Preparando</option>
                            <option value="Orden lista"
                            >Orden lista
                            </option>
                            <option value="En camino">En camino</option>
                            <option value="En espera de validación">En espera de validación</option>
                            <option value="Entregada">Entregada</option>
                            <option value="En espera de retiro">En espera de retiro</option>
                            <option value="Asignada a delivery">Asignada a delivery</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
